        <% @bweets.each do |bweet| %>
          <div class='bweet'>
            <fieldset>
              <legend><%= bweet.user.name %></legend>
              <p><%= bweet.description %></p>
              <h6><%= bweet.created_at %></h6>
            </fieldset>
          </div>
        <% end %>